.next
.turbo
coverage
dist
node_modules
pnpm-lock.yaml
apps/web/public/legacy
apps/web/public/codecs
apps/web/next-env.d.ts
packages/database/src/generated
README copy.md
.venv
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/*.pyc
